<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mapper 관련 설정 파일 -->
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.ezen.chord.dto.Member" alias="memberDTO"/>
 		<typeAlias type="com.ezen.chord.task.dto.TaskDTO" alias="taskDTO"/>
 		<typeAlias type="com.ezen.chord.project.dto.ProjectDTO" alias="projectDTO"/>
 		<typeAlias type="com.ezen.chord.files.dto.FilesDTO" alias="filesDTO"/>
 	</typeAliases>
 </configuration>